{%extends 'SuperAdmin_index.html'%} {% load static %} {% block content %}

<div class="row ">
    <div class="col-12 grid-margin">
        <h2> <small class="text-muted">Add Batch </small></h2>
    </div>
</div>

<div class="row">
    <div class="col-md-7 grid-margin stretch-card">
        <div class="card" style="height: 350px;">
            <div class="card-body">
                <form method="post" action="{% url 'SuperAdmin_AddBatchsave' %}" enctype="multipart/form-data"> {% csrf_token %} 


                    <div class="form-group row">
                        <label for="exampleInputUsernam2" class="col-sm-3 col-form-label">
                            Batch
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control" id="batch" style="color:black;" name="batch" required>
                             <option selected="true" disabled="disabled" value=""></option>
                            
                            <option value="Morning">Morning</option>
                            <option value="Afternoon">Afternoon</option>
                            <option value="Evening">Evening</option>
                          </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputUsernam2" class="col-sm-3 col-form-label">
                            FromTime
                        </label>
                        <div class="col-sm-9">
                            <input type="time" class="form-control" id="exampleInputUsername2" name="fromtime" style="color:inherit;" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputUsernam2" class="col-sm-3 col-form-label">
                            ToTime
                        </label>
                        <div class="col-sm-9">
                            <input type="time" class="form-control" id="exampleInputUsername2" name="totime" style="color:inherit;" autocomplete="off">
                        </div>
                    </div>

                        <br>
                        <br>

                    </div>
                    <br>
                    <br>
                    <br>

                    <div>
                        <center>
                            <button type="submit" class="btn btn-success btn-icon-text mb-4">SUBMIT</button>
                            <a href="{% url 'SuperAdmin_Batch_Cards' %}" class="btn btn-info mb-4"> BACK</a>
                        </center>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if msg_success %}
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            text: '{{ msg_success }}',
            showConfirmButton: false,
            timer: 3000
        }).then(function () {
            javascript: history.go(-2);
        })
        
    </script>
    {% endif %}
    
{% endblock %}